 version: '3.9' 
 services:
   api:
     build:
       context: .
       dockerfile: docker/Dockerfile
     ports:
       - "8080:80"
     depends_on:
       - sqlserver
       - rabbitmq
       - elasticsearch

   sqlserver:
     image: mcr.microsoft.com/mssql/server:2022-latest
     environment:
       SA_PASSWORD: "Gurmezinho@13"
       ACCEPT_EULA: "Y"
     ports:
       - "1433:1433"

   rabbitmq:
     image: rabbitmq:3-management
     ports:
       - "5672:5672"
       - "15672:15672"

   elasticsearch:
     image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
     environment:
       - discovery.type=single-node
     ports:
       - "9200:9200"

   kibana:
     image: docker.elastic.co/kibana/kibana:8.10.2
     ports:
       - "5601:5601"
     depends_on:
       - elasticsearch